/* font-family: 'Staatliches', cursive;
font-family: 'Cuprum', sans-serif; */

/* COLORS:
rgb(185, 37, 0); */

* {
  font-family: 'Cuprum', sans-serif;
  margin: 0 auto;
  text-align: center;
}

html {
  font-family: "Helvetica Neue", Arial, sans-serif;
  
}

div#banner {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #000000;
  background-image: url("bg-star-2.jpg");
  background-position: 0px -100%;
  background-repeat: repeat;
  animation: animate-background 50s linear infinite;
}

@keyframes animate-background {
  from {
    background-position: 0% 0;
  }
  to {
    background-positio: 0 2000%;
  }
}

h1 {
  font-size: 80px;
  font-weight: 700;
  font-family: 'Cuprum', sans-serif;
  padding-top: 20px;
  margin-bottom: 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h1 a {
  text-decoration: none;
  color: rgb(196, 41, 2);
}

h1 a:hover {
  color: rgb(173, 36, 2);
  text-decoration: none;
}

bozo-gif {
  padding: 20px;
}

body button {
  font-size: 2em;
  background-color: rgb(196, 41, 2);
  color: white;
  width: 400px;
  height: 150;
  padding: 15px 60px;
  border: 0;
  box-shadow: #fff;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0 4px rgb(107, 22, 1);
}

button:hover {
  background-color: rgb(173, 36, 2);
  background-size: 350px;
  background-position: center;
  color: #dee5ef;
  box-shadow: 0 4px rgb(107, 22, 1);
 }

#instructions {
  width: 250px;
  height: 200px;
  box-sizing: border-box;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  background-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  
 
}

#instructions p {
  background-color:transparent;
  font-size: 1em;
  margin: 0px;
  padding-left: 50px;
  margin-top: 5px;
}

#instructions h3 {
  font-size: 1.5em;
  background-color: transparent;
  padding-bottom: 15px;
  color: black;
  text-decoration: underline;
}

#arrow-left, #arrow-right {
  width: 10%;
  height: 10%;
  margin: 0px;
  /* display: block; */
  
}

#space-bar {
  width: 20%;
  height: 10%;
  margin: 0px;
  margin-top: 10px;
  /* display: block; */
}

 #vomit{
  width: 10%;
  height: 5%;
  margin: 0px;
  display: block;
  padding-left: 20px;
 
}

.inst-icons {
width: 300px;
display: flex;
justify-content: left;

margin:10px 0px;
padding: 0px;



}