/* font-family: 'Staatliches', cursive;
font-family: 'Cuprum', sans-serif; */
/* COLORS:
rgb(185, 37, 0); */

* {
  font-family:'Cuprum', sans-serif;
  margin: 0 auto;
  text-align: center;
}

html {
  
  font-family: "Helvetica Neue", Arial, sans-serif; */
}

body {
  /* background-image: url("sky.jpg") */
}

div#banner {
  width: 100%;
 
  margin: 0px;
  background-color: #000000;
  background-image: url("twinkle-star-png-stars-9.png");
  background-position: -120% 0px;
  background-repeat: repeat;
  animation: animate-background 50s linear infinite;
}

@keyframes animate-background {
 from { background-position: 0% 0;}

  to{ background-positio:  2000% 0;}
} 

h1 {
  font-size: 80px;
  font-weight: 700;
  font-family: 'Cuprum', sans-serif;
  padding-top: 20px;
  margin-bottom: 20px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h1 a {
  text-decoration: none;
  color: rgb(196, 41, 2);
}

h1 a:hover {
  color: rgb(173, 36, 2);
  text-decoration: none;
}

bozo-gif {
 padding: 20px;

}

body button {
  font-size: 25px;
  background-color: rgb(196, 41, 2);
  color: white;
  width: 400px;
  height: 150;
  padding: 15px 60px;
  border: 0;
  box-shadow: #fff;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0 4px  rgb(107, 22, 1);
  
}

button:hover {
  background-color: rgb(173, 36, 2);
  background-size: 350px;
  background-position: center;
  -webkit-filter: grayscale(10%);
  color: #dee5ef;
  box-shadow: 0 4px  rgb(107, 22, 1);
  /* -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:inset 0 0 10px #000000; */
}

#instructions {
  
  width: 400px;
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  background-color: #dee5ef;
  margin-top: 10px;
  margin-bottom: 10px;
}

#instructions p {
  background-color: #dee5ef;
  font-size: 14px;
  
}

#instructions h3 {
  font-size: 2.0em;
  background-color: #dee5ef;
  padding-bottom: 15px;
  color: black;
}

#vomit, #arrow-left, #arrow-right {
  width: 20%;
  height: 20%;
}

